#footer-wrap
  if theme.footer.owner.enable
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `&copy;${config.author} ${nowYear}`
    else
      .copyright!= `&copy;${config.author} ${nowYear}`
